{
  "name": "{{PROJECT_NAME}} Development Environment",
  "image": "{{PROJECT_CONTAINER_IMAGE}}-devcontainer:latest",

  "features": {
    "ghcr.io/devcontainers/features/docker-in-docker:2": {
      "moby": true,
      "azureDnsAutoDetection": true,
      "installDockerBuildx": true,
      "installDockerComposeSwitch": true,
      "version": "latest",
      "dockerDashComposeVersion": "latest"
    },
    "ghcr.io/devcontainers/features/aws-cli:1": {
      "version": "latest"
    },
  },

  "containerEnv": {
      "AWS_PROFILE": "{{AWS_PROFILE}}",
      "LLM_USER_PATH": "/home/vscode/.config/io.datasette.llm"
  },

  "mounts": [
      "source=${localEnv:HOME}/.aws,target=/home/vscode/.aws,type=bind",
      "source={{PROJECT_PATH}}/.devcontainer,target=/home/vscode/.devcontainer,type=bind",

      // LLM credentials
      "source={{LLM_USER_PATH}}/extra-openai-models.yaml,target=/home/vscode/.config/io.datasette.llm/extra-openai-models.yaml,type=bind",
      "source={{LLM_USER_PATH}}/keys.json,target=/home/vscode/.config/io.datasette.llm/keys.json,type=bind"
  ],

  "postCreateCommand": ["git config --global --add safe.directory {{WORKSPACE_DIR}}"]
}
