{
  "name": "{{PROJECT_NAME}} Development Environment",
  "image": "{{PROJECT_CONTAINER_IMAGE}}-devcontainer:latest",

  "features": {
    "ghcr.io/devcontainers/features/docker-in-docker:2": {
      "moby": true,
      "azureDnsAutoDetection": true,
      "installDockerBuildx": true,
      "installDockerComposeSwitch": true,
      "version": "latest",
      "dockerDashComposeVersion": "latest"
    },
    "ghcr.io/devcontainers/features/aws-cli:1": {
      "version": "latest"
    },
  },

  "containerEnv": {
      "AWS_PROFILE": "{{AWS_PROFILE}}"
  },

  "mounts": [
      "source=${localEnv:HOME}/.aws,target=/home/vscode/.aws,type=bind",
      "source={{PROJECT_PATH}}/.devcontainer,target=/home/vscode/.devcontainer,type=bind",
      "source=${localEnv:HOME}/Library/Application Support/io.datasette.llm,target=/home/vscode/.config/io.datasette.llm,type=bind"
  ],

  "postCreateCommand": "sh /home/vscode/.devcontainer/launch.sh {{WORKSPACE_DIR}}"
}
